.forms {
    height: 1066px;
    margin-top: 128px;
}

.forms_container {
    display: flex;
    padding-top: 122px;
    padding-left: 116px;
    padding-right: 115px;
}

.forms-info {
    width: 460px;
}

.forms-info__title {
    font-size: 81.42px;
    padding-bottom: 47px;
    letter-spacing: 0.01em;
}

.form__input {
    display: flex;
    Flex-direction: column;
    Justify-content: space-between;
    height: 478px;
}

.form__input input {
    font-size: 20.87px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    border: 3px solid #232323;
    background: transparent;
    border-radius: 7px;
    height: 60px;
    width: 100%;
    padding-left: 28px;
}

.form__input textarea {
    font-size: 20.87px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    border: 3px solid #232323;
    background: transparent;
    border-radius: 7px;
    height: 226px;
    width: 100%;
    padding-left: 26px;
    padding-top: 16px;
}

.form__btn {
    font-size: 25.2px;
    font-family: 'Lato', sans-serif;
    color: #e9e7e7;
    background-color: #232323;
    padding: 21px 155px;
    margin-top: 60px;
    border-radius: 5px;
    letter-spacing: 0.01em;
}

.form__btn:hover {
    padding: 23px 155px;
    margin-top: 58px;
}

.form__btn:active {
    margin-top: 60px;
    padding: 21px 155px;
}

.forms__image {
    margin-left: auto;
}