*{
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 16.67px;
    letter-spacing: -0.025em;
    color: #232323;
    /* background-color: #e9e7e7; */
}

a{ /*для всех ссылок*/ 
    text-decoration: none;
    color: #232323;
    display: inline-block;
}

.main__container {
    width: 1440px;
    margin: 0 auto;
    background-color: #e9e7e7;
}   

.container {
    width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
}

*[class$='__title'] {
    font-weight: bold;
    font-family: 'Cardo', serif;    
}

.menu-list {
    display: flex;
}

/* .menu-list li{ 
    margin-right: 76px;
} */


/* задать для первого элемента в блоке!!! */

.menu-list li {
    margin-right: 78px;
    font-size: 20.83px;
    font-weight: 300;
}

.menu-list li:hover {
    background-color: #d2d2d2af;
}

.menu-list li:active {
    background-color: #e9e7e7;
}

.menu-list li:nth-child(1){
    font-weight: 900;
} 

.feature__items{
    padding-left: 6px;
    padding-right: 2px;
    display: flex;
    justify-content: space-between;
}

.airplane-icon {
    display:flex;
    justify-content: center;
    align-items: center; 
}