*{
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 16.67px;
    letter-spacing: -0.027em;
    color: #232323;
    /* background-color: #e9e7e7; */
}

a{ /*для всех ссылок*/ 
    text-decoration: none;
    color: #232323;
    display: inline-block;
}

.main__container {
    width: 1440px;
    margin: 0 auto;
    background-color: #e9e7e7;
}   

.container {
    width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
}

*[class$='__title'] {
    font-weight: bold;
    font-family: 'Cardo', serif;    
}

.header__inner {
    display: flex; /*элементы идут в ряд (не в столбец, как все div)*/
    justify-content: space-between;
    align-items: center;
    height: 210px;
}

.menu-list {
    display: flex;
}

/* .menu-list li{ 
    margin-right: 76px;
} */


/* задать для первого элемента в блоке!!! */

.menu-list li {
    margin-right: 78px;
    font-size: 20.83px;
    font-weight: 300;
}

.menu-list li:hover {
    background-color: #d2d2d2af;
}

.menu-list li:active {
    background-color: #e9e7e7;
}

.menu-list li:nth-child(1){
    font-weight: 900;
}

.header__btn {
    font-size: 20.83px;
    font-weight: 900;
    border: 3px solid #232323;
    border-radius: 7px;
    padding: 15.5px 56px;
    margin-top: 1px;
    margin-right: 19px;
}

.header__btn:hover {
    margin-right: 17px;
    padding: 17.5px 58px;
}

.header__btn:active {
    background-color: #d2d2d2af;
    margin-right: 19px;
    padding: 15.5px 56px;
}

.top{
    padding-top: 31px;
    position: relative;
    height: 609px;
}

.top-scribble__left {
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.top-scribble__right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.top__inner {
    display: flex;
}

.top-info {
    max-width: 426px;
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    z-index: 2;
}

.top-info__title {
    font-size: 81.48px;
    margin-bottom: 17px;
    margin-left: 1px;
}

.top__paragraph {
    /* margin-bottom: 43px; */
    text-align: justify;
    line-height: 20px; 
}

.top-info__box {
    margin-top: auto;
}

.top-info__btn{
    font-size: 20.83px;
    font-weight: 900;
    color: #e9e7e7; 
    background-color: #232323;
    padding: 16.5px 61px;
    margin-left: 3px;
    margin-bottom: 3px;
    border-radius: 5px; 
}

.top-info__btn:hover {
    padding: 18.5px 63px;
    margin-left: 1px;
    margin-bottom: 1px;
}

.top-info__btn:active {
    padding: 16.5px 61px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.top-image {
    padding-right: 20px; 
    margin-left: auto;  
    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

/* .top-image img {
    margin: 0 0 0 auto;
} */

/* .top-back__image{
    position: absolute;

} */

.memory{
    /* padding-top: 45px;
    padding-bottom: 53px; */
    height: 387px;
    background-color: #232323;
    position: relative;
    display: flex;
    align-items: center;
}

.memory__title{
    font-size: 55.46px;
    margin-top: 3px;
    margin-bottom: 20px;
}

.memory__paragraph{
    margin-bottom: 31px; 
    line-height: 20px;
    text-align: justify;
    text-align-last: center;
}

.memory__btn__shell {
    height: 64px;
}

.memory__btn{
    margin-top: 7px;
    font-size: 20.83px;
    font-weight: 900;
    border: 3px solid  #e9e7e7;
    color: #e9e7e7;
    border-radius: 7px;
    padding: 15px 60px;
}

.memory__btn:hover {
    margin-top: 5px;
    padding: 17px 62px;
}

.memory__btn:active {
    padding: 15px 60px;
    margin-top: 7px;
}

.memory__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.memory__inner > * {
    width: 100%;
}

.memory-info{ 
    /* пересмотреть */
    max-width: 439px;
    color: #e9e7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto; */
    justify-self: center;
    text-align: center;
    padding-bottom: 5px;
}

.memory-scribble__left {
    margin-top: 4px;
} 

.memory-scribble__right {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 17px;
}

.feature{
    /* padding: 166px 0 184px; */
    height: 804px;
    display: flex;
    align-items: center;
}

.feature__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    height: 100%;
}

.feature__inner > * {
    width: 100%;
}

.feature-scribble__left {
    align-self: start;
    margin-top: 56px;
}

.feature-scribble__right {
    align-self: end;
    margin-bottom: 4px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.feature__items{
    width: 1246px;
    margin-top: 2px;
    padding-left: 21px;
    padding-right: 17px;
    display: flex;
    justify-content: space-between;
}

.feature-item img{
    margin: 0 auto;
}

.feature-item__line {
    width: 53px;
    height: 32px;
    margin-bottom: 24.5px;
    border-bottom: 3.5px solid #232323;    
}

.feature-item {
    max-width: 364px;
}

.feature-item__paragraph {
    text-align: justify;
    line-height: 20px;
}

.feature-item__title {
    font-size: 36.38px;
    max-width: 240px;
    margin-bottom: 26px;
    letter-spacing: 0.01em;
}

.airplane-icon {
    display:flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 91px;
}

.tagline {
    height: 889px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 36px;
}

.tagline-scribble__left {
    position: absolute;
    bottom: 117px;

}

.tagline-scribble__right {
    position: absolute;
    right: 0;
    bottom: -43px;
    
}

.tagline-info {
    margin: 0 auto;
    text-align: center;
    max-width: 820px;
}

.tagline-info__title {
    font-size: 97.7px;
    margin-top: -29px;
    margin-bottom: 63px;
}

.tagline-info__title span{
    font-style: oblique;
    text-decoration: underline;        
}

.tagline-info__subtitle {
    font-weight: 900;
    font-size: 25px;
    margin-top: 60px;
}

.gallery {
    /* padding-bottom: 50px; */
    height: 824px;
    margin-left: 10px;
}

.gallery__inner {
    display: flex;
}

.gallery-image {
    margin-right: 42px;
    margin-left: 2px;
    position: relative;
}

.gallery__tape {
    position: absolute;
    top: 254px;
    left: -118px;
}

.gallery-image__sub {
    margin-left: 1px;
}

.gallery-info {
    display: flex;
    margin-top: 67px;
}
.gallery-info__title {
    /* min-width: 240px; */
    max-width: 235px;
    margin-left: 3px;
    margin-right: 45px; 
    font-size: 36.34px;
    text-decoration: underline;
    line-height: 50px;
    letter-spacing: 0.005em;
}
.gallery-info__paragraph {
    text-align: justify;
    margin-top: 8px;
    margin-right: 10px;
    line-height: 1.18;
    
}

.gallery-info__paragraph p:nth-child(2) {
    text-indent: 0.4em;
}

.gallery_arrow {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 23px;
}

.trip {
    height: 872px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* align-items: center;
    justify-content: end; */
    background-color: #232323;
    color: #e9e7e7;
}

.trip__inner {
    align-self: end;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1322px;
   
}


.trip-info {
    max-width: 470px;
    height: 565px;
    display: flex;
    flex-direction: column;
}
.trip-info__title {
    font-size: 55.44px;
    letter-spacing: 0.01em;
    margin-top: 1px;

    /* margin-bottom: 112px; */
}

.trip-info__box {
    margin-top: auto;
    line-height: 1.14;
    margin-right: 16px;
}

.trip-info__textblock {
    /* vertical-align: bottom; */
    margin-top: 54px;
}
.textblock__subtitle {
    font-size: 24.99px;
    font-weight: 900;
    margin-bottom: 15px;
}

.textblock__paragraph {
    line-height: 20px;
    text-align: justify;
}

.trip-scribble {
    margin-top: 33px;
    display: flex;
    align-items: end;
}

.reasons {
    height: 870px;
    display: flex;
    align-items: center;
}

.reasons__inner {
    display: flex;
}

.reasons-info {
    max-width: 745px;

    display: flex;
    flex-direction: column;
}
.reasons-info__title {
    font-size: 81.46px;
    letter-spacing: 0.004em;
}
.reasons-list {
    margin-top: auto;
    padding: 0 6px 2px 2px;
}

.reasons-list div[class='reasons-list__item']:first-child {
    border-top: 3px solid #232323;    
}

.reasons-list__item {
    display: flex;
    padding-left: 40px;
    border-bottom: 3px solid #232323;
    /* flex-direction: row; */
}

.reasons__image {
    margin-right: 3px;
}



.rli__plus {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 32px;
    font-size: 38px;
}

.rli__plus:hover {

    font-size: 46px;
}

.rli__plus:active {

    font-size: 40px;
}

.rli__text {
    line-height: 62px;
}

.reasons__image {
    margin-left: auto;
}

.customers {
    height: 868px;
    display: flex;
    align-items: center;
    position: relative;
}

.customers__inner {
    width: 100%;
}

.customers-tagline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.customers-tagline > * {
    width: 100%;
}


.customers__title {
    font-size: 81.46px;
    width: 645px;
    text-align: center;
    margin: 50px auto 56px;
    letter-spacing: 0.01em;

}
.customers-cards {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right: 2px;
}
.customers-cards__item {
    max-width: 391px;
    border: 3px solid #232323;
    border-radius: 10px;
    padding: 60px 39px;
}

.customers-cards__item:hover {
    background-color: #cfcece;
}
.customers__icon {
    padding: 0 0 0 0;
}

.customers-scribble__right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.circle {
    display:flex;
    justify-content: center;
    align-items: center; 
}

.customer__name {
    text-align: center;
    font-weight: 900;
    font-size: 24.99px;
    margin-top: 26px;
    margin-bottom: 19px;
}
.customer__info {
    text-align: justify;
    text-align-last: center;
    color: #6d6d6d;
    line-height: 1.1;
    margin-bottom: 9px;
}

.customer-cards__lbtn {
    position: absolute;
    border: 3px solid #232323;
    background-color: #e9e7e7;
    border-radius: 10px;
    width: 82px;
    height: 74px;
    left: -41px; 
    align-self: center;   
    display:flex;
    justify-content: center;
    align-items: center; 
}

.customer-cards__lbtn:hover {
    width: 86px;
    height: 78px;
    left: -43px;
    background-color: #cfcece;
}

.customer-cards__lbtn:active {
    width: 82px;
    height: 74px;
    left: -41px;
}

.customer-cards__rbtn {
    position: absolute;
    border: 3px solid #232323;
    background-color: #e9e7e7;
    border-radius: 10px;
    width: 82px;
    height: 74px;
    right: -41px; 
    align-self: center;    
    display:flex;
    justify-content: center;
    align-items: center;  
}

.customer-cards__rbtn:hover {
    width: 86px;
    height: 78px;
    right: -43px;
    background-color: #cfcece;
}

.customer-cards__rbtn:active {
    width: 82px;
    height: 74px;
    right: -41px; 
}

.forms {
    height: 1056px;
    display: flex;
    align-items: center;
}

.forms__inner {
    display: flex;
    height: 750px;
    margin-bottom: 82px;
}

.forms-info {
    width: 458px;
}

.forms-info__title {
    font-size: 81.42px;
    padding-bottom: 47px;
    letter-spacing: 0.01em;
}

.form__input {
    display: flex;
    Flex-direction: column;
    Justify-content: space-between;
    height: 478px;
}

.form__input input {
    font-size: 20.87px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    border: 3px solid #232323;
    background: transparent;
    border-radius: 7px;
    height: 60px;
    width: 100%;
    padding-left: 28px;
}

.form__input textarea {
    resize: none;
    font-size: 20.87px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    border: 3px solid #232323;
    background: transparent;
    border-radius: 7px;
    height: 226px;
    width: 100%;
    padding-left: 26px;
    padding-top: 16px;
}

.form__btn {
    font-size: 25.2px;
    font-family: 'Lato', sans-serif;
    color: #e9e7e7;
    background-color: #232323;
    padding: 21px 155px;
    margin-top: 57px;
    margin-left: 1px;
    border-radius: 5px;
    letter-spacing: 0.01em;
}

.form__btn:hover {
    padding: 23px 155px;
    margin-top: 55px;
}

.form__btn:active {
    margin-top: 57px;
    padding: 21px 155px;
}

.forms__image {
    margin-left: auto;
    margin-right: 3px;
}

.footer {
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c4c4c4;
}

.footer__inner {
    margin-top: 42px;
}

.footer__info {
    display: flex;
    /* justify-content: space-between; */
}
.footer__title {
    font-size: 63.34px;
    max-width: 244px;
    margin-right: 106px;
    letter-spacing: 0.01em;
    margin-left: 4px;
}
.footer-menu {
    flex: 1;
    margin-right: 4px;
}
.footer-menu__subtitle {
    font-weight: 900;
    font-size: 25.04px;
    margin-bottom: 48px;
    margin-top: 4px;
}

.footer-links__col {
    width: 189px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    list-style: none;
}

.footer__list a{
    font-size: 20.86px;
    margin-bottom: 29px; 
}

.footer__list a:hover {
    text-decoration: underline;
}

.footer__list a:active {
    text-decoration: none;
}

.footer__company {
    
    margin-top: 92px;
    text-align: center;
    font-size: 20.86px;
}

.footer-endline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 4px;
}

.footer-endline > * {
    width: 100%;
}

.footer-scribble__left {
    margin-top: 50px;
}

